,

            // Will return an validator that can be used to validate
            // a complete instance of the document/model
            '<id>': {
                base: 'ModelValidator',
                gets: {
                    validators: <validators>
                }
            }